.container {
  width: 90%;
  max-width: 300px;
  background-color: #fff;
  padding: 33px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  height: auto;
  margin-top: 50px;
  transition: 0.3s;
  width: 500;
  align-items: center;
  background: #f6f5f3;
  justify-content: space-around;
}

.card:hover {
  background: #e2e2e2;
}

.container {
  padding: 2px 16px;
  text-align: center;
}
