.spinner {
  animation: spinner 1.65s linear infinite;
  background-color: rgba(100,100,100,0.15);
  border: 5px solid #eaf0f6;
  border-radius: 50%;
  border-top: 5px solid #90d8b4;
  bottom: 0;
  height: 55px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 55px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
