.header {
  padding-top: 0.5rem;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0px 0px 120px 0px;
  
}
.header-nav {
  background: #98ECFF;
  height: 100px;
  padding: 0;
  margin: 0px 10px 0px 10px;
  list-style: none;

  &__logo {
    cursor: pointer;
    float: left;
    height: 60px;
    margin: 0;
    margin-left: 10px;

    a {
      color: #363639;
      text-decoration: none;
    }

    img {
      // border-top-left-radius: 50% 50%;
      // border-top-right-radius: 50% 50%;
      // border-bottom-right-radius: 50% 50%;
      // border-bottom-left-radius: 50% 50%;
      height: 40px;
      width: auto;
      padding-left: 20px;
      margin-top: 30px;
    }

    figcaption {
      display: inline;
      padding: 17px;
      padding-left: 8px;
      position: absolute;
      text-align: center;
    }

    & figcaption::before {
      content: ' | ';
    }
  }

  &__rigth {
    float: right;
  }

  &__item {
    display: inline;
    padding: 5px;

    & a {
      cursor: pointer;
      padding: 5px;
      letter-spacing: -0.16px;
      text-decoration: none;
      opacity: 0.6;
      color: black;
      &:hover {
        outline: 2px solid black;
      }
    }
  }
}

