.header {
  padding-top: 0.5rem;
}
.header-nav {
  background: #fff;
  border-bottom: 1.5px solid #212121;
  height: 60px;
  padding: 0;
  margin: 0px 10px 0px 10px;

  &__logo {
    cursor: pointer;
    float: left;
    height: 60px;
    margin: 0;
    margin-left: 10px;

    a {
      color: inherit;
      text-decoration: none;
    }

    img {
      // border-top-left-radius: 50% 50%;
      // border-top-right-radius: 50% 50%;
      // border-bottom-right-radius: 50% 50%;
      // border-bottom-left-radius: 50% 50%;
      height: 55px;
      width: 115px;
    }

    figcaption {
      display: inline;
      padding: 17px;
      padding-left: 8px;
      position: absolute;
      text-align: center;
    }

    & figcaption::before {
      content: ' | ';
    }
  }

  &__rigth {
    float: right;
  }

  &__item {
    display: inline;
    padding: 5px;

    & a {
      cursor: pointer;
      padding: 5px;
      letter-spacing: -0.16px;
      text-decoration: none;
      opacity: 0.6;
      color: black;
      &:hover {
        outline: 2px solid black;
      }
    }
  }
}

