.wallet {
  background: #98ecff;
  border: 2px solid #363639;
  color: #363639;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  height: 40px;
  list-style-type: none;
  margin-bottom: 0px;
  margin-right: 30px;
  margin-top: 30px;
  max-width: max-content;;
  padding: 0px 10px 0px 10px;
  text-align: center;
}
